git+https://github.com/ansible/ansible-sign
ncclient
paramiko
pykerberos
pypsrp[kerberos,credssp]
pywinrm[kerberos,credssp]
toml
pexpect>=4.5
python-daemon
pyyaml
six
cryptography
pyopenssl>=24.0.0
python-openstackclient
openstacksdk
python-consul
botocore>=1.29.0
boto3>=1.26.0